* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: 255,122,28;
  --gold: 234,172,34;
  --bg-light: 255,255,255;
  --bg-light-2: 250,250,250;
  --bg-dark: 28,21,15;
  --text-white: 255,255,255;
  --text-gray: 140,140,140;
  --text-ligray: 121,121,121;
  --text-black: 0,0,0;
}

body {
  background-image: url('./assets/main-bg-cropped.jpeg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 720px;
  background-color: rgba(var(--bg-light-2),1);
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 10px 125px;
}

/* ------------- TEXT STYLES --------------- */
.link { text-decoration: none; }
.text-light { color: rgba(var(--text-white),.9); }
.text-dark { color: rgba(var(--text-black),1); }
.text-gray { color: rgba(var(--text-gray),1); }
.text-ligray { color: rgba(var(--text-ligray),1); }
.text-darkgray { color: rgba(var(--text-black),.7); }
.text-orange { color: rgba(var(--orange),1); }
.font-sm { font-size: 20px;}
.font-md { font-size: 30px;}
.font-lg { font-size: 40px;}
.font-xl { font-size: 90px;}

/* ------------- COLOR -------------------- */
.gold { color: rgba(var(--gold),1); }
.gray { color: rgba(var(--bg-dark),.7); }
.bg-orange { background-color: rgba(var(--orange),1); }

/* ------------- BUTTON ------------------ */
.btn-border-bg {
  border: none;
  background: none;
}

.pointer {
  cursor: pointer;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  position: relative;
  width: 50%;
}

.travel {
  display: flex;
  flex-direction: row;
}

.vel { margin-left: -5px; }

.nav-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-wrapper {
  width: 40%;
  justify-content: space-around;
}

.register {
  position: relative;
  width: 50%;
  height: 120%;
  border: none;
}

/* ---------------------------- HERO ---------------------- */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: space-between;
  text-align: center;
  margin: 150px 125px;
}

.hero-wrapper {
  position: relative;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.play-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40px;
  width: 180px;
}

.watch {
  margin: auto;
}

.wrapper {
  position: relative;
  margin: auto;
  width: 80%;
  height: 115px;
  background-color: rgba(var(--bg-light),1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.select-wrapper {
  display: flex;
  justify-content: flex-start;
}

.explore {
  border: none;
  width: 190px;
  height: 80px;
}

/* ----------------- DESTINATIONS ------------- */
.top-destinations {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.destination-wrapper {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.destination {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ------------------ BOUT US ---------------- */
.about-us {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.img-wapper {
  position: relative;
  width: 50%;
}

.about-us-wrapper {
  position: relative;
  width: 60%;
  height: 50%;
}

.inner-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.get-started {
  position: relative;
  border: none;
  width: 130px;
  height: 40px;
}

/* ---------------- PARTNERS ------------------ */
.partners {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.partnership-wrapper {
  position: relative;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.companies-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-block {
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ---------------- REVIEWS ------------------- */
.reviews {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}

.contact-wrapper {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reviews-wrapper {
  position: relative;
  width: 120%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-block {
  position: relative;
  width: 18%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(var(--bg-light),1);
  margin: 0 20px 0 0;
  box-shadow: 0px -10px 20px rgba(var(--bg-light),1);
}

.profile-wrapper {
  position: relative;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.name-wrapper {
  position: relative;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0 0 10px;
}

.star-wrapper {
  position: relative;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ---------------- FOOTER -------------------- */
#footer-bg {
  position: absolute;
  width: 200%;
  left: 0;
  background-color: rgba(var(--bg-dark),1);
  margin-left: -125px;
}

.footer {
  position: relative;
  width: 80vw;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 125px;
}

.travel-summary {
  position: relative;
  width: 15%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 0 20px 0;
}

.links-wrapper {
  position: relative;
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-block {
  position: relative;
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* ---------------- HORIZONTAL LINES ---------- */
.hr-wrapper {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hr-active {
  border-top: 5px solid rgba(var(--orange));
  width: 40px;
}

.hr-inactive {
  border-top: 5px solid rgba(var(--text-gray), .3);
  width: 30px;
}

/* ------------------ IMAGES ----------------- */
.img {
  background-size: 500px;
  width: 500px;
  height: 380px;
}

.bali { 
  background-image: url('./assets/bali.jpeg'); 
  background-position: center;
}
.fuji { 
  background-image: url('./assets/fuji.jpeg');
  background-size: cover;
}
.nepal { 
  background-image: url('./assets/nepal.jpeg');
  background-size: cover;
}

.img-2 {
  background-image: url('./assets/snow.jpeg');
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 800px;
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(var(--bg-dark),.3);
}

.gold {
  color: gold;
}

.gray {
  color: gray;
}
