* {
  margin: 0;
  padding: 0;
}

:root {
  --orange: 255,122,28;
  --gold: 234,172,34;
  --bg-light: 255,255,255;
  --bg-dark: 12,17,23;
  --text-white: 255,255,255;
  --text-gray: 140,140,140;
  --text-ligray: 121,121,121;
  --text-black: 0,0,0;
}

body {
  background-image: url('./assets/main-bg-cropped.jpeg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 720px;
  background-color: rgba(var(--text-gray),.1);
}

.container {
  position: relative;
  margin: 10px 125px;
  /* background-image: url('./assets/main-bg.jpeg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 680px; */
}

/* ------------- TEXT STYLES --------------- */
.link { text-decoration: none; }
.text-light { color: rgba(var(--text-white),.9); }
.text-dark { color: rgba(var(--text-black),1); }
.text-gray { color: rgba(var(--text-gray),1); }
.text-ligray { color: rgba(var(--text-ligray),1); }
.text-orange { color: rgba(var(--orange),1); }
.font-sm { font-size: 20px;}
.font-md { font-size: 30px;}
.font-lg { font-size: 40px;}
.font-xl { font-size: 90px;}

/* ------------- COLOR -------------------- */
.gold { color: rgba(var(--gold),1); }
.gray { color: rgba(var(--bg-dark),.7); }
.bg-orange { background-color: rgba(var(--orange),1); }

/* ------------- BUTTON ------------------ */
.btn-border-bg {
  border: none;
  background: none;
}

.pointer {
  cursor: pointer;
}

.nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  position: relative;
  width: 50%;
}

.travel {
  display: flex;
  flex-direction: row;
}

.vel { margin-left: -5px; }

.nav-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-wrapper {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-wrapper {
  width: 40%;
  justify-content: space-around;
}

.register {
  position: relative;
  width: 50%;
  height: 120%;
  border: none;
}

/* ---------------------------- HERO ---------------------- */
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: space-between;
  text-align: center;
  margin: 150px 125px;
}

.hero-wrapper {
  position: relative;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.play-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 40px;
  width: 180px;
}

.watch {
  margin: auto;
}

.wrapper {
  position: relative;
  margin: auto;
  width: 80%;
  height: 115px;
  background-color: rgba(var(--bg-light),1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.select {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.select-wrapper {
  display: flex;
  justify-content: flex-start;
}

.explore {
  border: none;
  width: 190px;
  height: 80px;
}

/* ----------------- DESTINATIONS ------------- */
.top-destinations {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.destination-wrapper {
  position: relative;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.destination {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ------------------ BOUT US ---------------- */
.about-us {
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.img-wapper {
  position: relative;
  width: 50%;
}

.about-us-wrapper {
  position: relative;
  width: 60%;
  height: 50%;
}

.inner-wrapper {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.get-started {
  position: relative;
  border: none;
  width: 130px;
  height: 40px;
}

.hr-wrapper {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hr-active {
  border-top: 5px solid rgba(var(--orange));
  width: 40px;
}

.hr-inactive {
  border-top: 5px solid rgba(var(--text-gray), .3);
  width: 30px;
}

/* ------------------ IMAGES ----------------- */
.img {
  background-size: 500px;
  width: 500px;
  height: 380px;
}

.bali { 
  background-image: url('./assets/bali.jpeg'); 
  background-position: center;
}
.fuji { 
  background-image: url('./assets/fuji.jpeg');
  background-size: cover;
}
.nepal { 
  background-image: url('./assets/nepal.jpeg');
  background-size: cover;
}

.img-2 {
  background-image: url('./assets/snow.jpeg');
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 800px;
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(var(--bg-dark),.3);
}
